body {
  background: rgb(180, 224, 58);
  background: radial-gradient(
    circle,
    rgb(185, 185, 164) 0%,
    rgb(83, 75, 32) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;

  width: fit-content;
  align-items: center;

  background-color: #edfd0d24;

  box-shadow: 1px 1px 12px 5px rgb(112, 139, 61);
  border-radius: 11px;
  transition: transform 0.5s;
  margin-top: 45px;
  color: aliceblue;
  font-family: auto;
}

.Headdiv {
  display: contents;
}

p {
  margin-top: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

tr {
  display: flex;
  margin-top: 13px;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px 50px;
}
.btn {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 30px;
}
